<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninjas Page</title>
</head>
<body>
    <div class="container">
        <h1>New Ninja!</h1>
        <!-- action receives the controller route where the form is to be submitted -->
        <form action="/ninjas/add" method = 'POST'> 
            <label for="dojos_drop">Choose a Dojo:</label>
            <!-- name receives the form data name and id receives the label relationship -->
            <select name="dojo_location_id" id="dojos_drop">
                {%for dojo in dojos%}
                <option value="{{dojo.id}}">{{dojo.dojo_name}}</option>
                {%endfor%}
            </select><br><br>
            First Name: <input type="text" name="first_name"><br><br>
            Last Name: <input type="text" name="last_name"><br><br>
            Age: <input type="text" name="age"><br><br>
            <input type="submit" value="Add Ninja">
        </form><br>
        <a href="/dojos">Home</a>
    </div>
</body>
</html>